@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

body {
    background-color: rgb(243, 243, 243);

    
}


.main{
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    margin: 0 auto;

}

.container_1 {
    display: flex;
    width: 100vw;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 2px;
    border-color: #FFFFFF;
}

.container_2 {
    margin: 0 auto;
    min-width: 1200px;
    max-width: 1200px;
    display: flex;
}

.cabecalho_title {
    font-weight: 700;
    font-size: 24px;
    margin: 25px 60px 25px 0px;
    color: #000000;
}


.cabecalho_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    width: 600px;

}

.cabecalho_list a{
    text-decoration: none;
    display: flex;
    color: #585E65;
    margin-right: 35px;
}

.cabecalho_list a:hover {
    color: #4C6EF5;
}

.cabecalho_list #promocoes {
    color: #FFFFFF;
    background-color: #4C6EF5;
    border-radius: 3px;
    padding: 10px 10px;
    font-weight: 500;
    font-size: 14px;
    display: inline;
    transition: 0,5s;
    margin-left: 400px;

}

.cabecalho_list #promocoes:hover {
    background-color: rgb(190, 156, 111);
    transition: 0,5s;
}

.main_sessao {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 16px;
    margin-top: 25px;
    gap: 10px;
}

.main_sessao div {
    width: 24%;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: 16px 0px 0px 0px;
    padding: 25px;
}

.main_sessao div img {
    width: 200px;
    height: 140px;
    margin-left: 25px;
}

.main_sessao div p {
    font-weight: 600;
    font-size: 13px;
    min-height: 48px;

}

.main_sessao div span {
    font-weight: 600;
    font-size: 13px;
    height: 30px;
    display: block;
    margin-top: 10px;
}

.main_sessao div a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #4C6EF5;
    border-color: #4C6EF5;
    border-radius: 3px;
    padding: 4px 4px;
    font-weight: 400;
    font-size: 13px;
    display: block;
    text-align: center;
}

